build/**

tektonian_python.egg-info/**

node_modules/
!.husky
package-lock.json

# Virtual env
venv/**
.venv
venv

# cache
**/__pycache__/**

# duckdb temporary directory
.tmp/**

.DS_Store

# typing
/.typing

